{% extends "default/_layouts/base" %}

{% block body %}

<!-- Header -->
{% include "default/_includes/global/navigation" %}
<!-- End Header -->

{% block hero %}
{% endblock %}

<div class="illustrations clouds">

{% block main %}
{% endblock %}

<!-- Socials -->
{# {% include "default/_includes/global/socials" %} #}
<!-- End Socials -->

<!-- Newsletter -->
{% include "default/_includes/global/newsletter" %}
<!-- End Newsletter -->

</div>

<!-- Footer -->
{% include "default/_includes/global/footer" %}
<!-- End Footer -->

<!-- Navigation -->
{% include "default/_includes/reveal/navigation" %}
<!-- End Navigation -->


{% endblock %}