<nav class="full reveal" id="navigation" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
  <div class="grid-x grid-padding-x grid-padding-y align-center-middle" style="height: 100%">
    <div class="shrink cell text-center">

    <ul class="vertical menu">
        <li><a href="/about" class="h3 text-lowercase" data-toggle="navigation">About</a></li>
        <li><a href="/work" class="h3 text-lowercase" data-toggle="navigation">Work</a></li>  
        <li><a href="/culture" class="h3 text-lowercase" data-toggle="navigation">Culture</a></li>  
        <li><a href="/contact" class="h3 text-lowercase" data-toggle="navigation">Contact</a></li>  
    </ul>

    </div>
  </div>
</nav>