{% set bodyClass = 'about' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Copy -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

<!-- Clients -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x small-up-1 medium-up-3 align-center align-middle">

{% set clients = entry.clients.all() %}
{% if clients|length %}
        {% for client in clients %}
        <div class="cell text-center padding-3">
          <img src="{{ client.url }}" alt="Kiwi standing on oval">
        </div>
        {% endfor %}
{% endif %}


  </div>
</div>
<!-- End Clients -->


{% endblock %}