{% set bodyClass = 'shows' %}

{% extends "_layouts/site" %}

{% block main %}

{% set showsQuery = craft.entries().section('shows')%}
{% set shows = showsQuery.all() %}
    
<div class="grid-x">
  {% for show in shows %}

    {% for act in show.acts.limit(19) %}
    <div class="small-12 large-4 cell">
      <a href="{{ show.url }}">
      {% set image = act.image.one() %}
      <div class="image--default acts" data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}">
  
      <div class="content grid-y align-center">
        <div class="shrink cell padding-1 h2 sans-display white text-center">
        {{act.title}}
        </div>
      </div>
  
      </div>
      </a>
    </div>

    {% endfor %}

  {% endfor %}
</div>

{% endblock %}