{% set bodyClass = 'shows' %}

{% extends "default/_layouts/site" %}

{% block main %}

{% set showsQuery = craft.entries().section('shows')%}
{% set shows = showsQuery.all() %}
    
<div class="grid-x grid-padding-x grid-padding-y">
  {% for show in shows %}

    {% for act in show.acts.all() %}
    <div class="small-12 medium-4 large-4 xxlarge-3 cell">
      <a href="{{ show.url }}">
      {% set image = act.image.one() %}
      {% set title = act %}
      {% include "default/_includes/blocks/excerpt" %}
      </a>
    </div>

    {% endfor %}

  {% endfor %}
</div>

{% endblock %}