{% set bodyClass = 'shows' %}

{% set orderJs %}
  $(function(){

    $('#sortQuery').on("change", function(e){

     // Get the value from the select
     var filter = $(this).val();

     // We can use twig because we are setting this in template, if you extracted this to its own file, you would need a different means to output the page url
     document.location.href = '{{ craft.request.getUrl() }}?order=' + filter;

   });

  });
{% endset %}

{% set order = craft.request.getParam('order', 'title asc')  %}


{% extends "_layouts/site" %}

{% block main %}

{% set showsQuery = craft.entries().section('shows')%}
{% set shows = showsQuery.all() %}
    

<div class="grid-x">

<select id="sortQuery">
 <option value="title asc">A-Z</option>
 <option value="title desc">Z-A</option>
</select>

  {% for show in shows %}

    {% for act in show.acts.order(order) %}
    <div class="small-12 medium-4 large-4 xxlarge-3 cell">
      <a href="{{ show.url }}">
      {% set image = act.image.one() %}
      <div class="image--default acts" data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-4" %}">
  
      <div class="content grid-y align-center">
        <div class="shrink cell padding-1 h2 sans-display white text-center">
        {{act.title}}
        </div>
      </div>
  
      </div>
      </a>
    </div>

    {% endfor %}

  {% endfor %}
</div>

{% endblock %}

{% includeJs orderJs %}