<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-justify align-middle" id="maintest">

  <div class="shrink cell">
  <a data-toggle="navigation">Menu</a>
  </div>

  <div class="shrink cell text-center text-uppercase">
  <a href="/">
  <svg class="icon icon-{{ event.logo }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ event.logo }}"></use></svg>
  <small>{{event.startDate|date('j')}} - {{event.finishDate|date('j F Y')}}</small>
  </a>
  </div>

  <div class="shrink cell">
  <a href="/tickets/">Tickets</a>
  </div>

</header>
<!-- End  Header -->
