<div class="off-canvas position-bottom" id="announcementOffCanvas" data-off-canvas>
  <div class="grid-container">
    <div class="grid-x grid-padding-x padding-vertical-2 text-center align-center">
  
      <div class="small-12 medium-8 cell">
      
        {{announcement.copy}}

        <a href="/news" class="button margin-bottom-0" data-close>Read Full Announcement</a>

        <button class="close-button black" data-close aria-label="Close reveal" type="button">
        <svg class="icon icon-clearclose"><use xlink:href="/assets/icons/symbol-defs.svg#icon-clearclose"></use></svg>
        </button>

      </div>
  
    </div>
  </div>
</div>