{% set bodyClass = 'about' %}

{% extends "default/_layouts/site" %}

{% block main %}

<!-- Copy -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

<!-- Images -->
<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-3">
  {% for image in entry.images.all() %} 
    <div class="cell">
    <div class="margin-bottom-1 image--square" data-interchange="{% include "default/_includes/images/contained/1-1/interchange-img-small-12-medium-4" %}"></div>
    </div>
  {% endfor %}
  </div>
</div>

</div>
<!-- End Images -->

{% endblock %}