{% set bodyClass = 'about' %}

{% extends "default/_layouts/site" %}

{% block main %}

<div class="grid-container">
<div class="grid-x grid-padding-y grid-padding-x align-center padding-vertical-2">
  <div class="small-6 medium-3 cell text-center">
      <h4 class="sans-display text-uppercase">Social Distancing</h4>
      <svg class="icon icon-covid icon-social-distancing"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-social-distancing"></use></svg>
      <p class="margin-top-1 margin-bottom-0">Distanced Plots</p>
      <p class="margin-top-0">Fully Seated</p>
  </div>
  <div class="small-6 medium-3 cell text-center">
      <h4 class="sans-display text-uppercase">Big Screens</h4>
      <svg class="icon icon-covid icon-big-screen"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-big-screen"></use></svg>
      <p class="margin-top-1 margin-bottom-0">Domed stage</p>
      <p class="margin-top-0">LED Screens</p>
  </div>
  <div class="small-6 medium-3 cell text-center">
      <h4 class="sans-display text-uppercase">Pre-Order Drinks</h4>
      <svg class="icon icon-covid icon-pint"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-pint"></use></svg>
      <p class="margin-top-1 margin-bottom-0">Pre order online</p>
      <p class="margin-top-0">And on site</p>
  </div>
  <div class="small-6 medium-3 cell text-center">
      <h4 class="sans-display text-uppercase">Staggered Arrival</h4>
      <svg class="icon icon-covid icon-time"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-time"></use></svg>
      <p class="margin-top-1 margin-bottom-0">Staggered Arrival</p>
      <p class="margin-top-0">Multiple Entrances</p>
  </div>
</div>
</div>

<!-- Layout -->
{% include "default/_includes/blocks/layout" %}    
<!-- End Layout -->

<!-- Images -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-3">
  {% for image in entry.images.all() %} 
    <div class="cell">
    <div class="margin-bottom-1 image--square" data-interchange="{% include "default/_includes/images/contained/1-1/interchange-img-small-12-medium-4" %}"></div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- End Images -->

{% endblock %}