<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle" id="maintest">

  <div class="shrink cell">
  <a href="/"><h1>{{ currentSite.name }}</h1></a>
  </div>

</header>
