{% set bodyClass = 'page' %}

{% extends "default/_layouts/site" %}

{% block main %}

<!-- Page Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">
      {{ entry.copy }}
    </div>
  </div>
</section>
<!-- End Page Content -->

{% endblock %}