<div class="image--landscape excerpt text-center" data-interchange="{% include "_includes/images/full/7-5/interchange-img-small-12-medium-4" %}">

  <div class="content grid-y align-center excerpt__title">
    <div class="shrink cell padding-1 h2 sans-display white text-uppercase">
      {{title.title}}
    </div>
  </div>

  <div class="content grid-y align-center excerpt__hover">
    <div class="shrink cell padding-1 h2 sans-display white">
      <svg class="icon icon-eye"><use xlink:href="/assets/icons/symbol-defs.svg#icon-eye"></use></svg>
    </div>
  </div>

</div>