//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Animations
//   4. Color
//   5. Typography
//   6. Layout


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

// 2. Global
// ---------

.viewheight {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-size: cover; 
  background-position: 50%;
}

a {
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
}

a:focus {
color: $white;
}

body {
  cursor: default;
  font-kerning: normal ;
  margin: 0;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $black;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
// text-transform: lowercase;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
// text-transform: lowercase;
}

// 3. Animations
// -------------

.swup-transition-fade-up {
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}

html.is-animating .swup-transition-fade-up {
  opacity: 0;
  transform: translateY(-10px);
}

.swup-transition-fade {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .swup-transition-fade {
  opacity: 0;
}

.swup-transition-color {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .swup-transition-color {
  opacity: 0;
}

// 2. Loading
// ----------

.loader {
    z-index: 1040;
    position: fixed;
    background: $white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    opacity: 0;
    visibility: visible; 
    transform: translateY(0%);
    transition: transform 800ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
  &.loading {
    opacity: 1;
  }
  &.loaded {
    transform: translateY(-100%);
    transition: transform 800ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

// 4. Color
// --------

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.tertiary-color {
  color: get-color(tertiary);
}

.primary-background-colour {
  background-color: get-color(primary);
  color: $white;
  @include links($white, $secondary-color)
}


.secondary-background-colour {
  background-color: get-color(secondary);
  color: $primary-color;
  @include links($primary-color, $secondary-color)
}

.tertiary-background-colour {
  background-color: get-color(tertiary);
  color: $primary-color;
  @include links($primary-color, $secondary-color)
}

.black {
  color: $black;
  @include links($black, $primary-color)
}

.white {
  color: $white;
  @include links($white, $primary-color);
}

// 5. Typography
// -------------

.underline {
  padding-bottom: 2px;
  border-bottom: 3px solid;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $black;
}

.sans-light {
  font-family: $sans-light;
}

.sans-bold {
  font-family: $sans-bold;
}

.sans-display {
  font-family: $sans-display;
}

.small {
  font-size: $small-font-size;
}

// 6. Layout
// ---------

.image--portrait {
  @include aspect-ratio (4, 6);
  background-size: cover; 
  background-position: 50%;
}

.image--square {
  @include aspect-ratio (4, 4);
  background-size: cover; 
  background-position: 50%;
}

.image--default {
  @include aspect-ratio (5, 4);
  background-size: cover; 
  background-position: 50%;
}

.image--landscape {
  @include aspect-ratio (7, 5);
  background-size: cover; 
  background-position: 50%;
}

.image--panorama {
  @include aspect-ratio (16, 9);
  background-size: cover; 
  background-position: 50%;
 .content {
  background-color: rgba($black, 0.075);
  }
}

.swiper-button-prev-test,
.swiper-button-next-test {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  &:hover {
    opacity: 0.85;
  }
}

.swiper-button-prev-test {
  left: 0rem;
  right: auto;
}
.swiper-button-next-test {
  right: 0rem;
  left: auto;
}

.swiper-slide .white:hover {
  color: $primary-color;
}

.acts {
 .content:hover {
  background-color: rgba($secondary-color, 0.95);
 }
}

// 6. Navigation
// -------------

.navigation {
//   @include padding(0.45, 0.45, 0, 0.45);
//   border-bottom: 1px solid $secondary-color;
	z-index: 20;
/*
  @include breakpoint(medium) {
  @include padding(1, 1.5, 1, 1.5);
  }
  @include breakpoint(xxlarge) {
  @include padding(1.5, 2, 1, 2);
  }
*/
  @include links ($primary-color, $primary-color)
  a {
    font-family: $sans-bold;
  }
}

.navigation__inner {
//   @include padding(0.45, 0.45, 0, 0.45);
  @include breakpoint(medium) {
  @include padding(0.25, 1.5, 1, 1.5);
  }
  @include breakpoint(xxlarge) {
  @include padding(0.5, 2, 1, 2);
  }
}


.navigation__banner {
//   @include padding(0.45, 0.45, 0.45, 0.45);
}

.navigation__container {
z-index: 20;
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// 9. Home
// -------

.home .navigation, .location .navigation {
  @include links ($primary-color, $primary-color);
//   border-bottom: 1px solid $secondary-color;
  @include breakpoint(large) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
//   border-bottom: 1px solid $white;
  @include links ($white, $primary-color);
  }
  .navigation__banner {
    @include links($white, $secondary-color)
  }
}

.location .navigation {
  @include links ($primary-color, $primary-color);
//   border-bottom: 1px solid $secondary-color;
  @include breakpoint(large) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
//   border-bottom: 1px solid $white;
  @include links ($primary-color, $primary-color);
  }
}

.home .is-dropdown-submenu {
// background-color: transparent;
  z-index: 14;
  @include links ($secondary-color, $primary-color);
/*
  @include breakpoint(xxlarge) {
background-color: transparent;
  }
*/
}

.is-dropdown-submenu {
  z-index: 14;
}

.off-canvas .menu .active > a {
  background: transparent;
  color: $black;
}

.swiper-wrapper-image {
/*
  background: url(/assets/img/octopus-and-lobster.png);
  background-repeat:no-repeat;
  background-position:left top;
  background-size: 20%;
*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
}

.page__header {
  @include padding(0.5, 1, 0.5, 1);
  @include breakpoint(large) {
  @include padding(2, 2, 2, 2);
  }
  @include breakpoint(xxlarge) {
  @include padding(3, 3, 3, 3);
  }
}

.vendor__description {
  @include padding(1, 1, 1, 1);
  @include breakpoint(large) {
  @include padding(2, 2, 2, 2);
  }
  @include breakpoint(xxlarge) {
  @include padding(3, 3, 3, 3);
  }
}

.tabs-title > a:hover {
color: $secondary-color;
}

.marker {
  background-image: url('/assets/icons/location_onplaceroom.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    color: $black;   
  }
}

.map {
 height: 50vh;
 width: 100%;
}

// 9. Illustrations
// ----------------

.excerpt {
  .content:hover {
  background-color: rgba($primary-color, 0.2);
  }
  &:hover .excerpt__title {
  opacity: 0;
  transition: $primary-transition;
  }
  &:hover .excerpt__hover {
  opacity: 1;
  transition: $primary-transition;
  } 
}

.excerpt__title {
  z-index: 1;
  opacity: 1;
}

.excerpt__hover {
  z-index: 1;
  opacity: 0;
}


// 9. Home Illustrations
// ---------------------

.home .characters {
  background: url(/assets/img/illustrations/ticket-lady.svg), url(/assets/img/illustrations/swing.svg), url(/assets/img/illustrations/ticket-woman.svg), url(/assets/img/illustrations/cloud-plant.svg);
  background-repeat: no-repeat;
  background-position: right 50px, left center, center bottom -50px, right center;
  background-size: 15%, 30%, 70%, 20%;
  padding-bottom: 50vh;
}

.home .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, left bottom, right center;
  background-size: 20%, 20%, 20%;
}

// 9. Tickets Illustrations
// ---------------------


.tickets .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, left bottom, right center;
  background-size: 20%, 20%, 20%;
}

.tickets .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right 60%;
  background-size: 40%, 30%;
}

.tickets .characters {
  background: url(/assets/img/illustrations/fairyman.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  padding-bottom: 40vh;
}

// 9. About Illustrations
// ---------------------


.about .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, left bottom, right center;
  background-size: 20%, 20%, 20%;
}

.about .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right 60%;
  background-size: 40%, 30%;
}

.about .characters {
  background: url(/assets/img/illustrations/baloons.svg), url(/assets/img/illustrations/tent.svg), url(/assets/img/illustrations/cocktail.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom, right center;
  background-size: 20%, 40%, 15%;
  padding-bottom: 40vh;
}

// 9. Contact Illustrations
// ---------------------


.contact .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, right bottom;
  background-size: 20%, 20%;
}

.contact .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right 60%;
  background-size: 30%, 30%;
}

.contact .characters {
  background: url(/assets/img/illustrations/lil-ghost.svg), url(/assets/img/illustrations/plants.svg);
  background-repeat: no-repeat;
  background-position: right bottom -20%, right bottom;
  background-size: 25%, 25%;
  padding-bottom: 30vh;
}


// 9. Location Illustrations
// ---------------------


.location .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left 50px, right center;
  background-size: 20%, 20%;
}

.location .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right 60%;
  background-size: 30%, 30%;
}

.location .characters {
  background: url(/assets/img/illustrations/hot-dog-car.svg), url(/assets/img/illustrations/location-plant.svg);
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-size: 40%, 30%;
  padding-bottom: 40vh;
}

// 9. Food and Drink Illustrations
// ---------------------


.food-and-drink .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, left bottom, right center;
  background-size: 20%, 20%, 20%;
}

.food-and-drink .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right 60%;
  background-size: 30%, 30%;
}

.food-and-drink .characters {
  background: url(/assets/img/illustrations/ice-cream.svg), url(/assets/img/illustrations/tent.svg), url(/assets/img/illustrations/green-apple.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom, right bottom;
  background-size: 30%, 40%, 15%;
  padding-bottom: 40vh;
}

// 9. Show Illustrations
// ---------------------


.show .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, left bottom, right center;
  background-size: 20%, 20%, 20%;
}

.show .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right 60%;
  background-size: 30%, 30%;
}


// 9. Shows Illustrations
// ---------------------


.shows .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left top 50px, left bottom, right center;
  background-size: 20%, 20%, 20%;
}

.shows .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right bottom;
  background-size: 30%, 30%;
}

.shows .characters {
  background: url(/assets/img/illustrations/star-microphone.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 50%;
  padding-bottom: 50vh;
}

// 9. Shows Illustrations
// ---------------------


.info .clouds {
  background: url(/assets/img/illustrations/cloud.svg), url(/assets/img/illustrations/cloud-right.svg);
  background-repeat: no-repeat;
  background-position: left bottom, right center;
  background-size: 20%, 20%;
}

.info .plants {
  background: url(/assets/img/illustrations/plant-mono-left.svg), url(/assets/img/illustrations/plant-mono-right.svg);
  background-repeat: no-repeat;
  background-position: left 40%, right bottom;
  background-size: 30%, 30%;
}

.info .characters {
  background: url(/assets/img/illustrations/cloud-lady.svg), url(/assets/img/illustrations/green-blob.svg);
  background-repeat: no-repeat;
  background-position: left -10% top, right -10% bottom;
  background-size: 30%, 30%;
  padding-bottom: 10vh;
}




.sponsor {
width: 40%;
}


.reveal {
  @include breakpoint(medium) {
    top: 50% !important;
    transform: translateY(-50%);
  }
}

.navigation__banner {
  @include links($white, $secondary-color)
}