{% set bodyClass = 'contact' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Copy -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

<!-- Contact -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">
    {% for contact in entry.contact.all() %}
      <div class="cell">
        <h2 class="sans-display">{{ contact.header }}</h2>
        {{ contact.copy }}
      </div>
    {% endfor %}
  </div>
</div>
<!-- End Contact  -->

{% endblock %}