{% set bodyClass = 'food-and-drink' %}

{% extends "default/_layouts/site" %}

{% block main %}

<!-- Layout -->
<div class="grid-x grid-padding-y">
  <div class="small-12 cell">
    {% include "default/_includes/blocks/layout" %}    
  </div>
</div>
<!-- End Layout -->

{% endblock %}