{% set bodyClass = 'info' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Info -->
<div class="grid-container">
  <div class="grid-x grid-padding-y">
    <div class="expand cell">
      <ul class="accordion" data-accordion  data-multi-expand="true" data-allow-all-closed="true">
        {% for info in entry.info %}
          <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">{{info.header}}</a>
            <div class="accordion-content padding-2" data-tab-content>
            {{ info.copy }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- End Info -->

{% endblock %}